<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="true">

	<description>Shiro Configuration</description>

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/toLogin" />
		<property name="successUrl" value="/mainPic/getMainPic" />
		<property name="unauthorizedUrl" value="/403" />

		<property name="filterChainDefinitions">
			<value>
				<!--/tuijian/getTuijian = authc &lt;!&ndash; authc 表示需要认证才能访问的页面 &ndash;&gt;-->
				/mainPic/getMainPic = authc, perms[/mainPic/getMainPic]
				/tuijian/getTuijian = authc, perms[/tuijian/getTuijian]  <!-- perms 表示需要该权限才能访问的页面 -->
			</value>
		</property>
	</bean>




	<bean id="myShiroRealm" class="com.xyl.myacg.modules.shiro.MyShiroRealm">
		<!--<property name="userService" ref="userService" />
		<property name="permissionByNameService" ref="permissionByNameService" />-->
	</bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="myShiroRealm"></property>
	</bean>

	<bean id="userService" class="com.xyl.myacg.modules.shiro.user.service.impl.UserServiceImpl"></bean>
	<bean id="permissionByNameService" class="com.xyl.myacg.modules.shiro.permissionByName.service.impl.PermissionByNameServiceImpl"></bean>

	<!-- <bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManager" ref="cacheManager" /> </bean> -->

</beans>